@use "color";
@use "breakpoints";

html {
  scroll-behavior: smooth;
  // scroll-padding-top: parts.$header_height-sp;
  
  // @include breakpoints.mq(pc) {
  //  scroll-padding-top: parts.$header_height-pc; 
  // }
}

body {
  font-family: 'Oswald','Noto Sans JP', sans-serif;
  color: color.$cl-black;
  // background-color: black;

  &.is-fixed {
    overflow: hidden;
  }
}

// button
.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;

  &--bg {
    background-color: color.$white;
    
    .button__text {
      color:color.$bg-dark;
    }
  }

  &--border {
    border: 1px solid color.$white;

    .button__text {
      color: color.$white;
    }
  }

  &__icon{
    width: 24px;
    display: flex;
    align-items: center;
  }
  &__text{
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.08em;
    color: color.$white;

  }
  &__icon-path {
    fill: color.$white;

    &--contact {
      fill: color.$bg-dark;
      // fill: color.$white;
    }
  }
}

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(0, 135, 65);

  &__container {
    position: relative;
  }

  &__logo {
    display: inline-block;
    padding: 14px 24px;
    font-size: 20px;
    color: color.$white;
  }

  &__menu-btn {
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 36px;
    overflow: hidden;
    color: transparent;
   background: url(../img/bg_menu.png) center center no-repeat;
   background-size: 100% auto;

   &:hover {
    cursor: pointer;
   }

   &.is-checked {
    background: url(../img/bg_menu-close.png) center center no-repeat;
    background-size: 100% auto;
   }
  }

  &__contents {
    display: none;
    height: calc(100vh - 88px);
    border-top: 1px solid color.$white;
    padding-top: 60px;
  }

  &__nav-item {
    &+& {
      margin-top: 24px;
    }
  }
}

// fv
.fv {
  position: relative;

  &__contents {
    position: absolute;
    bottom:26px;
    left: 0px;
    width: 100%;
    height: 209px;
    background: url(/img/sp/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    padding: 32px;
  }
  &__heading-main {
    display: block;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  &__heading-sub {
    display: block;
    margin-top: 12px;
    font-size: 14px;
  }
}

// section
.section {
  padding: 30px 0;

  &__inner {
    padding: 0 32px;
  }
  &__ttl {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &--center {
      text-align: center;
    }
  }
  &__ttl-main {
    font-size: 40px;
    letter-spacing: 0.1em;
  }
  &__ttl-sub {
    font-size: 11px;
  }
  &__lead-text {
    font-size: 16px;
    line-height: 1.6;
  }
  &__contents {
    margin-top: 40px;
  }
}

// message
.message {

  &__contents {
    width: 100%;
  }
  &__img {
    width: 100%;
    margin-bottom: 32px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.5);
    }

  }
  &__text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// service
.service {

  // &__list {

  // }
  &__item {
    
    &+& {
      margin-top: 10px;
    } 

  }
  &__item-img {
    text-align: center;
    margin-bottom: 54px;
  }
  &__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 1.6 ;
  }
}

// works
.works {
  background-color: color.$bg-light;
  
  &__item {

    & + & {
      margin-top: 40px;
    }

  }
  &__item-img {
    margin-bottom: 12px;
    
    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.5);
    }
  }
  &__item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;

  }
  &__item-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// works のモーダル
.modal {
  // padding-top: 30%;
  padding-top: 100px;
  display: none; /* モーダルを初期状態では非表示にする */
  position: fixed; /* モーダルを画面上部に固定 */
  z-index: 1; /* モーダルを最前面に配置 */
  left: 0;
  top: 0;
  width: 100%; /* 画面幅いっぱいにモーダルを広げる */
  height: 100%; /* 画面高さいっぱいにモーダルを広げる */
  overflow: auto; /* コンテンツがモーダルより大きい場合にスクロールバーを表示 */
  background-color: rgba(0,0,0,0.7); /* 背景を暗くする */
  opacity: 0; /* 初期状態で不透明度を0に設定する */
  transition: opacity 0.3s; /* opacityの変化を0.3秒かけてアニメーション化する */
}

/* モーダル内のコンテンツのスタイル */
.modal-content {
  margin: auto;
  display: block;
  width: 80%; /* モーダルの幅を設定 */
  max-width: 700px; /* モーダルの最大幅を設定 */
  // max-height: 80%; /* モーダルの最大高さを設定 */
}

/* 閉じるボタンのスタイル */
.close {
  color: #fff;
  position: fixed;
  top: 100px;
  right: 10px;
  font-size: 20px;
  // font-weight: bold;
}

/* ホバー時のスタイル */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


// about
.about {

&__img {
  img {
    box-shadow: 0 4px 15px 0 rgba(color.$black, 0.5);
  }
}
&__text-contents {
  margin-bottom: 30px;
}
&__text {
  font-size: 16px;
  line-height: 1.6;

  & + & {
    margin-top: 1em;
  }
}
}



// flow
.flow {
  background-color: color.$bg-light;

  &__list {
    margin-top: 64px;

  }
  &__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 46px 24px ;

    & + & {
      margin-top: 50px;
    }

  }
  &__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: color.$white;
    border: 1px solid color.$cl-black;
    color: color.$black;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-img {
    text-align: center;
    margin-bottom: 24px;

  }
  &__item-name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}




// page-bottom
.page-bottom {
  color: color.$white;

  &__item {
    padding: 40px;

    &--contact {
      background-color: color.$bg-gray-l;
    }
    &--twitter {
      background-color: color.$bg-dark;
    }
  }
}

// footer
.footer {
  text-align: center;
  padding: 10px;

  &__copy {
    font-size: 11px;
    font-family:'Noto Sans JP', sans-serif;
  }
}

// --------------------------------------------
// pc
// --------------------------------------------
@include breakpoints.mq(pc){
 .wrapper {
  display: flex;
 }

 .header {
  position: relative;
  flex-basis: 20.8%;
  padding: 50px 20px;

  &__container {
    position: sticky;
    top: 50px;
    width: 160px;
    margin: 0 auto;
  }

  &__logo {
    font-size: 20px;
    letter-spacing: 0.12em;
    line-height: 1;
  }

  &__menu-btn {
    display: none;
  }
  &__contents {
    display: block!important;
    border: none;
  }
 }

 .main {
  flex-basis: 79.2%;
 }

 .button {
  transition: background 0.3s, color 0.3s, opacity 0.3s;

  &:hover {
    background-color: color.$white;
    
    .button__icon-path {
      fill: color.$bg-dark;
    }
    .button__text {
      color: color.$bg-dark;
    }
  }

  &--bg {
    color: color.$bg-dark;

    &:hover {
      opacity: 0.7;
    }
  }
 }

 .section {

  &__inner {
    max-width: calc(880px + 32px * 2);
    margin: 0 auto;
  }
  &__ttl {
    
  }
 }

 .fv {
  &__contents {
    background: url(/img/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    bottom: 100px;
    left: 0;
    max-width: 627px;
    height: 174px;
    padding-top: 24px;
    padding-left: 96px;
  }
 }

 .service {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
  }

  &__item {
    & +& {
      margin-top: 0;
    }
  }
 }

 .works {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 5%;
  }

  &__item {
    & + & {
      margin-top: 0;
    }
  }
 }

 .about {

  &__container {
    display: flex;
    align-items: center;
  }
  &__text-contents {
    width: 60%;
  }
  &__img {
    width: 40%;
    margin-bottom: 0;
    img {
      min-width: 100%;
    }
  }
 }

//  worksのモーダル
/* モーダルのスタイル */




 .flow {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  &__item {

    & + & {
      margin-top: 0;
    }
  }
 }


 .message {

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
  }
  &__img {
   margin-bottom: 0;
  }
 }


 .page-bottom {

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__item {
    padding: 54px 10px;
  }
 }


}

// --------------------------------------------
// tb
// -------------------------------------------
@include breakpoints.mq(tb) {

  .section {
    &__ttl-main {
      font-size: 50px;
    }
  }

  .fv {
    &__contents {
      bottom: 50%;
      transform: translateY(50%);
    }
  }

.flow {
  
  &__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
    &__item {
      padding: 54px 10px;
    }
  }
} 
}